#motto h5
    {
        font-style: italic;
    }
#profilepic img
    {
        width: 250px; height: 250px;
    }
#tellme p
    {
        font-style: italic;
    }
#bbp img
    {
        width: 75px; height: 75px;
    }